@use "@/styles/utils/breakpoints" as *;

.workExperienceSkip {
  position: relative;

  &__target {
    position: absolute;
    left: 0;
    z-index: 1000;
  }
}

.workExperienceList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.workExperienceSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.workExperienceListItem {
  &.isListItemActive {
    & .workExperienceArticle {
      &__title {
        color: var(--highlight-primary);
      }

      &__headerImage {
        box-shadow: var(--shadow-highlight-sm-elevated);
      }
    }

    & .workExperienceListItem__separatorActive {
      border-color: var(--highlight-primary);
    }
  }
}

.workExperienceArticle {
  display: grid;
  grid-template-areas:
    "image header"
    "description description";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px;

  &__title {
    transition: color 0.2s ease;
  }

  @include breakpoint-up("sm") {
    grid-template-areas:
      "image header"
      "image description";
    grid-template-columns: auto 1fr;
    gap: 24px;
  }

  &__headerImage {
    width: 100px;
    height: auto;
    border-radius: 50%;
    background-color: var(--background-image-accent);
    grid-area: image;
    transition: box-shadow 0.2s ease;

    @include breakpoint-up("sm") {
      width: 150px;
      height: 150px;
    }
  }

  &__headerImageContainer {
    padding: 8px;
    display: grid;
    place-content: center;
  }

  &__description {
    grid-area: description;
    color: var(--text-secondary);
  }

  &__separator {
    border: 0.1px solid var(--border-strong);
    border-radius: 50%;
  }
}