@use "@/styles/utils/breakpoints" as *;

.workExperienceTechnologyList {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  flex-wrap: wrap;

  &__item {
    @include breakpoint-up("sm") {
      width: 25;
      height: 25;
    }
  }
}
