@use "@/styles/utils/breakpoints" as *;

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  padding-block: 4rem;

  @include breakpoint-up("md") {
    flex-direction: row;
    padding-block: 9rem;
  }
}

.mainSectionTitle {
  width: fit-content;
  position: relative;
  line-height: 1.5;
  &.isHighlight {
    color: var(--text-highlight-primary);
    display: inline-block;
    position: relative;
    white-space: nowrap;

    &::before {
      content: attr(data-text);
      position: absolute;
      left: 0;
      right: 0;
      white-space: nowrap;
      color: var(--text-highlight-primary);
      opacity: 0.5;
    }
  }
}

.mainSectionDescription {
  max-width: 800px;

  &__title {
    &.isHighlight {
      color: var(--text-highlight-primary);
      display: inline-block;
      position: relative;
      white-space: nowrap;

      &::before {
        content: attr(data-text);
        position: absolute;
        left: 0;
        right: 0;
        white-space: nowrap;
        color: var(--text-highlight-primary);
        opacity: 0.5;
      }
    }
  }

  &__text {
    margin-top: 1rem;
  }
}

.mainSectionImage {
  border-radius: 50%;
  background-color: var(--text-highlight-primary);
  box-shadow: 0px 0px 35px 20px #3541cf40, 0 30px 60px -30px #0000004d;

  @include breakpoint-down("md") {
    width: 200px;
    height: 200px;
  }
}
