@use "@/styles/utils/breakpoints" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--highlight-primary);
  background-color: var(--background-base);
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 12px;
  border: 1px solid var(--highlight-primary);
  transition: all 100ms ease;
  line-height: 1.5;

  &.isScreenReader {
    left: 0;
    position: absolute;
    z-index: 1000;

    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:focus {
      clip: initial;
      clip-path: initial;
      height: initial;
      overflow: initial;
      white-space: initial;
      width: initial;
    }
  }

  &.isDisabled {
    pointer-events: none;
    width: 100%; // When the button is disabled contains a wrapper, so the wrapper must decide the width of the element.
  }

  @include breakpoint-down("lg") {
    &:active {
      &:not(.isDisabled) {
        background-color: var(--highlight-primary);
        color: var(--background-base);
      }
    }
  }

  @include breakpoint-up("lg") {
    &:not(.isDisabled) {
      &:hover {
        border: 1px solid var(--highlight-tertiary);
        color: var(--highlight-tertiary);
        box-shadow: var(--shadow-soft-lg);
        transform: scale(1.04);
      }

      &:active {
        border: 1px solid var(--highlight-primary);
        box-shadow: none;
        transform: scale(1);
      }
    }
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}