@use "@/styles/utils/breakpoints" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--highlight-primary);
  background-color: var(--background-base);
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 12px;
  border: 1px solid var(--highlight-primary);
  transition: all 100ms ease;
  line-height: 1.5;

  &.isDisabled {
    pointer-events: none;
    width: 100%; // When the button is disabled contains a wrapper, so the wrapper must decide the width of the element.
  }

  @include breakpoint-down("lg") {
    &:active {
      &:not(.isDisabled) {
        background-color: var(--highlight-primary);
        color: var(--background-base);
      }
    }
  }

  @include breakpoint-up("lg") {
    &:not(.isDisabled) {
      &:hover {
        border: 1px solid var(--highlight-tertiary);
        color: var(--highlight-tertiary);
        box-shadow: 0 0 6px 5px #3541cf40;
        transform: scale(1.04);
      }

      &:active {
        border: 1px solid var(--highlight-primary);
        box-shadow: none;
        transform: scale(1);
      }
    }
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
