/** Base colors */
$color-dark-0: #000000;
$color-light-0: #ffffff;

/** Theme primary colors */
/** Best used for primary elements like buttons, links, and other primary elements. */
$color-primary-0: #3541cf;
$color-primary-10: #5654d5;
$color-primary-20: #7068db;
$color-primary-30: #877ce1;
$color-primary-40: #9d91e6;
$color-primary-50: #b1a6ec;

/** Theme surface colors */
/** Best used for surface elements like cards, backgrounds, and other surface elements. */
$color-surface-0: #121212;
$color-surface-10: #282828;
$color-surface-20: #3f3f3f;
$color-surface-30: #575757;
$color-surface-40: #717171;
$color-surface-50: #8b8b8b;

/** Theme tonal surface colors */
/** A tonal surface variant, best used for surface elements like cards, backgrounds, and other surface elements. */
$color-surface-tonal-0: #191722;
$color-surface-tonal-10: #2e2c37;
$color-surface-tonal-20: #45434d;
$color-surface-tonal-30: #5d5b64;
$color-surface-tonal-40: #75747c;
$color-surface-tonal-50: #8f8e94;