/** Base colors */
$color-dark-0: #000000;
$color-light-0: #ffffff;

/** Theme primary colors */
$color-primary-0: #bc37a5;
$color-primary-10: #c652b4;
$color-primary-20: #d06ec2;
$color-primary-30: #da89cf;
$color-primary-40: #e4a3db;
$color-primary-50: #eebce7;

/** Theme surface colors */
$color-surface-0: #121212;
$color-surface-10: #282828;
$color-surface-20: #3f3f3f;
$color-surface-30: #575757;
$color-surface-40: #bdbdbd;
$color-surface-50: #8b8b8b;

/** Theme tonal surface colors */
$color-surface-tonal-0: #1f1720;
$color-surface-tonal-10: #352c36;
$color-surface-tonal-20: #4b434c;
$color-surface-tonal-30: #635b64;
$color-surface-tonal-40: #7b747c;
$color-surface-tonal-50: #958e95;

/** Theme image surface colors */
$color-surface-image-0: #f8f5f7;
$color-surface-image-10: #f0edf0;
$color-surface-image-20: #e8e5e8;
$color-surface-image-30: #e2dfe2;
$color-surface-image-accent: #eee0ff;

/** Alpha versions */
$color-primary-0-alpha-25: rgba($color-primary-0, 0.25);
$color-primary-0-alpha-60: rgba($color-primary-0, 0.58);
$color-dark-0-alpha-30: rgba($color-dark-0, 0.3);

/** Shadows */
$shadow-primary-soft-sm: 0 0 6px 5px $color-primary-0-alpha-25;
$shadow-primary-soft-md: 0 0 10px 3px $color-primary-0-alpha-25;
$shadow-primary-soft-lg: 0 0 6px 7px $color-primary-0-alpha-25;

$shadow-primary-glow: 0px 0px 35px 20px $color-primary-0-alpha-25;
$shadow-primary-glow-sm: 0px 0px 20px 14px $color-primary-0-alpha-25;
$shadow-primary-strong: 0 0 20px 3px $color-primary-0-alpha-60;

$shadow-elevated: 0 30px 60px -30px $color-dark-0-alpha-30;
