$color-dark-0: #000000;
$color-light-0: #ffffff;

$color-primary-0: #ed0b56;
$color-primary-10: #f0336f;
$color-primary-20: #f35b88;
$color-primary-30: #f683a1;
$color-primary-40: #f9abc1;
$color-primary-50: #fcd3e0;

$color-surface-0: #121212;
$color-surface-10: #282828;
$color-surface-20: #3f3f3f;
$color-surface-30: #575757;
$color-surface-40: #bdbdbd;
$color-surface-50: #8b8b8b;

$color-surface-tonal-0: #20171b;
$color-surface-tonal-10: #362c30;
$color-surface-tonal-20: #4c4346;
$color-surface-tonal-30: #645b5e;
$color-surface-tonal-40: #7c7476;
$color-surface-tonal-50: #958e91;

$color-surface-image-0: #f8f5f6;
$color-surface-image-10: #f0edef;
$color-surface-image-20: #e8e5e7;
$color-surface-image-30: #e2dfe1;
$color-surface-image-accent: #ffdfe5;

$color-primary-0-alpha-25: rgba($color-primary-0, 0.25);
$color-primary-0-alpha-60: rgba($color-primary-0, 0.58);
$color-dark-0-alpha-30: rgba($color-dark-0, 0.3);

$shadow-primary-soft-sm: 0 0 6px 5px $color-primary-0-alpha-25;
$shadow-primary-soft-md: 0 0 10px 3px $color-primary-0-alpha-25;
$shadow-primary-soft-lg: 0 0 6px 7px $color-primary-0-alpha-25;

$shadow-primary-glow: 0px 0px 35px 20px $color-primary-0-alpha-25;
$shadow-primary-glow-sm: 0px 0px 20px 14px $color-primary-0-alpha-25;
$shadow-primary-strong: 0 0 20px 3px $color-primary-0-alpha-60;

$shadow-elevated: 0 30px 60px -30px $color-dark-0-alpha-30;
