@use "@/styles/utils/breakpoints" as *;

.mainHeader {
  display: grid;
  place-content: center;
  position: sticky;
  top: 0;
  padding-top: 16px;
  z-index: 20;
}

.mainNav {
  display: flex;
  gap: 8px;
  align-items: center;

  font-size: 0.875rem;

  padding-inline: 8px;
  background-color: #3f3f3f9e;
  border: 1px solid var(--border-strong);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0px 2px 6px var(--highlight-primary);

  @include breakpoint-up("xs") {
    gap: 16px;
    font-size: 1rem;
    padding-inline: 16px;
  }

  &__link {
    padding-block: 8px;
    padding-inline: 8px;
    color: var(--text-primary);
    font-weight: 500;

    position: relative;

    border-radius: 8px;

    &:hover {
      color: var(--highlight-secondary);
    }

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      bottom: -6px;
      right: 0;
      left: 0;

      @include breakpoint-up("xs") {
        top: -4px;
        bottom: -4px;
      }
    }
  }
  &__button {
    display: grid;
    place-content: center;

    height: 100%;

    position: relative;

    border-radius: 8px;

    &::after {
      content: "";
      position: absolute;
      inset: -6px;
      @include breakpoint-up("xs") {
        inset: -4px;
      }
    }

    &:hover {
      color: var(--highlight-secondary);
    }

    svg {
      width: 1.125rem;
      height: 1.125rem;

      @include breakpoint-up("xs") {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    padding-inline: 8px;
  }
}
