@use "@/styles/utils/breakpoints" as *;

.cardCarouselNavButton {
  position: absolute;
  right: -20px;
  top: calc(50% - 24px);
  z-index: 2;
  display: none;
  height: 40px;
  width: 40px;

  &.isRight {
    right: -10px;
  }

  &.isLeft {
    right: inherit;
    left: -10px;
  }

  @include breakpoint-up("md") {
    &.showArrow {
      display: grid;
      place-content: center;
    }
  }

  border: 1px solid var(--highlight-primary);
  background-color: var(--background-base);
  border-radius: 50%;
  padding: 2px;
  color: var(--highlight-primary);
  transition: all 100ms ease;

  &:hover {
    border: 1px solid var(--highlight-tertiary);
    color: var(--highlight-tertiary);
    box-shadow: 0 0 6px 7px #3541cf40;
    transform: scale(1.1);
  }

  &:active {
    border: 1px solid var(--highlight-primary);
    box-shadow: none;
    transform: scale(1);
  }
}
