@use "@/styles/tokens/semantic/theme/all" as themeTokens;

$themes: (
  "main-theme": themeTokens.$main-theme-semantic-colors,
  "blue": themeTokens.$blue-theme-semantic-colors,
  "green": themeTokens.$green-theme-semantic-colors,
  "purple": themeTokens.$purple-theme-semantic-colors,
);

main,
main * {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}

@each $theme-name, $semantic-map in $themes {
  $selector: if($theme-name =="main-theme",
      ":root",
      "[data-theme='#{$theme-name}']"
    );

  // Group 1: Background colors
  @layer theme-background {
    #{$selector} {
      @each $name, $value in map-get($semantic-map, "background") {
        --background-#{$name}: #{$value};
      }
    }
  }

  // Group 2: Text colors
  @layer theme-text {
    #{$selector} {
      @each $name, $value in map-get($semantic-map, "text") {
        --text-#{$name}: #{$value};
      }
    }
  }

  // Group 3: Highlight colors
  @layer theme-highlight {
    #{$selector} {
      @each $name, $value in map-get($semantic-map, "highlight") {
        --highlight-#{$name}: #{$value};
      }
    }
  }

  // Group 4: Border colors
  @layer theme-border {
    #{$selector} {
      @each $name, $value in map-get($semantic-map, "border") {
        --border-#{$name}: #{$value};
      }
    }
  }

  // Group 5: Surface colors
  @layer theme-surface {
    #{$selector} {
      @each $name, $value in map-get($semantic-map, "surface") {
        --surface-#{$name}: #{$value};
      }
    }
  }

  // Group 6: Shadow colors
  @layer theme-shadow {
    #{$selector} {
      @each $name, $value in map-get($semantic-map, "shadow") {
        --shadow-#{$name}: #{$value};
      }
    }
  }
}