@use "@/styles/tokens/semantic/theme/all" as themeTokens;

// Map of themes and their semantic variables
$themes: (
  "main-theme": themeTokens.$main-theme-semantic-colors,
  "blue": themeTokens.$blue-theme-semantic-colors,
  "green": themeTokens.$green-theme-semantic-colors,
  "purple": themeTokens.$purple-theme-semantic-colors,
);

// Do not add transition to the body, to avoid delays in header transition on iOS
main,
main * {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}

// Iterate over each theme and generate CSS variables
@each $theme-name, $semantic-map in $themes {
  // Root for the main-theme, data-theme attribute for the rest
  $selector: if(
    $theme-name == "main-theme",
    ":root",
    "[data-theme='#{$theme-name}']"
  );

  #{$selector} {
    @each $category, $variants in $semantic-map {
      @each $name, $value in $variants {
        --#{$category}-#{$name}: #{$value};
      }
    }
  }
}
